<footer>
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-lg-8">
          <div class="footer-column pull-left">
            <h4>PRODUCTS</h4>
            <ul class="links">
              <li class="first">
                <a href="/product/headphone" title="Contact us">HEADPHONE</a>
              </li>
              <li><a href="/product/charger" title="About us">CHARGER</a></li>
              <li><a href="/product/cable" title="faq">CABLE</a></li>
              <li>
                <a href="/product/power_bank" title="Popular Searches"
                  >POWER BANK</a
                >
              </li>
            </ul>
          </div>
          <div class="footer-column pull-left">
            <h4>About Oxyfresh</h4>
            <ul class="links">
              <li class="first">
                <a title="Your Account" href="#">About us</a>
              </li>
              <li>
                <a title="Information" href="#">Customer Service</a>
              </li>
              <li><a title="Addresses" href="#">Contact Information</a></li>
              <li>
                <a title="Addresses" href="#">Investor Relations</a>
              </li>
            </ul>
          </div>
          <div class="footer-column pull-left">
            <h4>Why choose Us</h4>
            <ul class="links">
              <li class="first">
                <a href="#" title="About us">Easy Affiliation</a>
              </li>
              <li><a href="#" title="Blog">Partner Support</a></li>
              <li><a href="#" title="Company">Easy Distribution</a></li>
              <li>
                <a href="#" title="Investor Relations">Product Export</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="footer-column-last">
            <div class="newsletter-wrap">
              <h4>Sign up for emails</h4>
              <form id="newsletter-validate-detail" method="post" action="#">
                <div id="container_form_news">
                  <div id="container_form_news2">
                    <input
                      type="text"
                      class="input-text required-entry validate-email"
                      value="Enter your email address"
                      onFocus=" this.value='' "
                      title="Sign up for our newsletter"
                      id="newsletter"
                      name="email"
                    />
                    <button
                      class="button subscribe"
                      title="Subscribe"
                      type="submit"
                    >
                      <span>Subscribe</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <br />
            <div class="social">
              <h4>Follow Us</h4>
              <ul class="link">
                <li class="fb pull-left"><a href="#"></a></li>
                <li class="tw pull-left"><a href="#"></a></li>
                <li class="googleplus pull-left"><a href="#"></a></li>
                <li class="rss pull-left"><a href="#"></a></li>
                <li class="pintrest pull-left"><a href="#"></a></li>
                <li class="linkedin pull-left"><a href="#"></a></li>
                <li class="youtube pull-left"><a href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-sm-12 col-xs-12 footer-logo">
        <img alt="Datson" src="images/logo.png" />
      </div>
      <address>
        <i class="fa fa-map-marker"></i>28 Sector, Rohini, New Delhi 110042
        India <i class="fa fa-mobile"></i><span> +91 9811825740</span>
        <i class="fa fa-envelope"></i><span> sales@oxyfresh.co.in</span>
      </address>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 coppyright">
          &copy; 2021 Oxyfresh - ThemesGround. All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</footer>
