<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Favicons Icon -->
    <link
      rel="icon"
      href="http://demo.thmthemes.com/skin/frontend/base/default/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="http://demo.thmthemes.com/skin/frontend/base/default/favicon.ico"
      type="image/x-icon"
    />
    <title>Oxyfresh &amp; A quality product</title>

    <!-- Mobile Specific -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/font-awesome.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/simple-line-icons.css"
      media="all"
    />
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/css/owl.theme.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.mobile-menu.css" />
    <link rel="stylesheet" type="text/css" href="/css/revslider.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/internal.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/font-awesome.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/simple-line-icons.css"
      media="all"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/revslider.css" />
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/css/owl.theme.css" />
    <link rel="stylesheet" type="text/css" href="/css/flexslider.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.mobile-menu.css" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600,600italic,400italic,700,700italic,800,800italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Slabo+27px"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600,600italic,400italic,700,700italic,800,800italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Slabo+27px"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="stylesheet" href="/css/app.css" />
  </head>
</html>
