<!-- Slider -->
<div id="thm-slideshow" class="thm-slideshow">
  <div class="container">
    <div class="hero_content">
      <h1
        class="js-hero-stagger js-hide"
        style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0)"
      >
        Oxyfresh Shop Now
      </h1>
      <p
        class="m-a js-hero-stagger js-hide"
        style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0)"
      >
        Best quality product from Oxyfresh.
      </p>

      <!-- LINKS -->

      <div>
        <a href="/product/headphone">Shop The Product Now</a>
      </div>
    </div>
    <div class="banner-img">
      <img src="images/banner_img.png" alt="banner" />
    </div>
  </div>
</div>

<!-- end Slider -->
